.article__one-column {
    .article-wrapper {
        .article-header {
            padding-bottom: .5rem;
            margin-bottom: .5rem;
            border-bottom: 1px solid;
        }
        .article-body {
        }
        .article-meta {
            padding-top: 1rem;
            margin-bottom: 1.5rem;
        }
    }
}