@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

html, body, * {
    font-family: "Source Sans Pro","Franklin Gothic Medium","Arial Narrow Bold","Helvetica Neue",Arial,sans-serif;
}

#app {
    font-family: "Source Sans Pro","Franklin Gothic Medium","Arial Narrow Bold","Helvetica Neue",Arial,sans-serif;
}

// spacing
.max-w {
    &__60 {
        max-width: 60%;
    }
}

// fit image
.fit-img-wrapper {
    position: relative;
    overflow: hidden;

    .fit-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

// line clamp 
.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}